name: Docker Publish

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@v4
      - name: Log in to the Cotnainer Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker Image
        run: |
          docker build . --tag ghcr.io/kwozniak-tt/skills-publish-docker-images/stackoverflown:main
          docker push ghcr.io/kwozniak-tt/skills-publish-docker-images/stackoverflown:main